.idea

config.php

vendor

storage/system/logs/application.log
storage/system/logs/job.log

storage/system/sessions/*
!storage/system/sessions/.gitkeep

storage/system/locks/ip/*
!storage/system/locks/ip/.gitkeep

storage/system/locks/rid/*
!storage/system/locks/rid/.gitkeep

storage/system/locks/jobs/*
!storage/system/locks/jobs/.gitkeep

storage/system/queue/*
!storage/system/queue/.gitkeep

storage/uploads/*
!storage/uploads/.gitkeep